* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    height: 100vh;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(https://wallpapercave.com/wp/wp2694479.jpg);
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 80%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    padding-top: 26px;
    padding-left: 10px;
    width: 110px;
    cursor: pointer;
}

.navbar ul li {
    display: inline-block;
    list-style: none;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #e69e0e;
    text-transform: uppercase;
    font-family: fantasy;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #e69e0e;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    text-align: center;
    color: #e69e0e;
    margin-top: 180px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20%;
    padding: 0 2rem;
}

.content h1 {
    margin-bottom: 20px;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content p {
    margin-bottom: 20px;
    font-weight: 100;
    line-height: 25px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btnregister {
    width: 150px;
    padding: 10px 0;
    text-align: center;
    border-radius: 25px;
    margin-top: 40px;
    border: 2px solid #e69e0e;
    background: transparent;
    color: #e69e0e;
    cursor: pointer;
    font-family: fantasy;
    font-size: large;
}

.btnregister:hover {
    background: #000000;
    color: #d44304;
    border: 2px solid #d44304;
}

.top-picks-section {
    height: 100%;
    background-color: #000000;
}

.top-picks {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.toppicks-game {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-card {
    height: 500px;
    box-shadow: 5px 5px 20px black;
    position: relative;
}

.card-pic {
    display: flex;
    background-position: center;
    background-size: cover;
    border-radius: 3px;
}

.description-etc {
    height: 9px;
    width: 250px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: 100px;
    color: aliceblue;
    transition: 0.5s;
}

.description-etc h2 {
    margin: 5px;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: fit-content;
    padding: 5px;
    text-align: center;
    border-radius: 25px;
    border: 2px solid #e69e0e;
    background: black;
    color: #e69e0e;
    cursor: pointer;
}


.description-etc p {
    font-size: smaller;
    margin: 20px;
    visibility: hidden;
    opacity: 0;
}

.description-etc span {
    font-weight: bold;
}

.game-card:hover {
    cursor: pointer;
}

.game-card:hover .description-etc {
    width: 100%;
    height: 220px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.8);
}

.game-card:hover p {
    opacity: 1;
    visibility: visible;
}

.section-title{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #e69e0e;
    padding: 20px;
    
}

html {
    scroll-behavior: smooth;
}

.gamelists-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(https://wallpapercave.com/wp/wp2694479.jpg);;
    padding: 20px;
}

.gm-title, h2 {
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    color: #d08411;
}

.game-table {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.game-table table {
    width: 50%;
    border-collapse: collapse;
    text-align: center;
}

.table-header th {
    padding: 8px;
    width: 200px;
    background-color: #151313;
    color: #d08411;
}

.game-table td {
    padding: 10px;
    width: 150px;
    border: 3px solid #000000;
    color: #d08411;
}

.game-table th{
    padding: 10px;
    width: 150px;
    color: #d08411;
}

.game-table img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}

.demo {
    background-color: #d44304;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.demo:hover {
    background-color: #d08411;
}

tbody tr{
    background-color: #151313;
}

tbody tr td {
    font-weight: 600;
}

tbody tr td:first-child {
    font-weight: 800;
}